{
    "stuno" : "Your student number",
    "passwd": "Your password 一定要是研究生学习平台本身的",

    "sender.user": "用于发送邮件提醒的邮箱账号",
    "sender.passwd": "上述账号密码",
    "sender.mailserver": "发送邮件的邮件服务器 需要自己查询。outlook是：smtp-mail.outlook.com:587",
    "receiver.user": "用于接受邮件提醒的邮箱账号",

    "verbose" : true,
    "enable.order" : true,
    "enable.replace" : false,
    "enable.situational_dialog" : false,
    "enable.topical_discuss" : true,
    "enable.debate" : true,
    "enable.drama" : true,
    "order_week_beforeequal": 8,
    "replace.candidate": "City Growth",
    "replace.forbidden" : ""
}